#login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Gazpacho, sans-serif
}

#login-form {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    width: 320px;
}

#login-form p {
    font-size: 13px !important;
}

#login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

#login-form label {
    display: block;
    margin: 10px 0 5px;
}

#login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 0;
}

#buttons button {
    padding: 8px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.buttons button:hover {
    background-color: #555;
}